@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    background-color: #E2E8F0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.5;
    padding: 20px;
    min-height: 100vh;
}

.image_field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    gap: 20px;
    width: 500px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 50px;
    background-color: #FEFFFF;
}

.image_field.hover {
    border-color: #2196f3;
    background-color: #e3f2fd;
    color: #2196f3;
}

.image_icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    filter: invert(60%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(105%) contrast(90%);
}

.drop_text {
    font-size: 16px;
    font-weight: 500;
    color: #9D9D9D;
    margin-top: 12px;
    text-align: center;
    line-height: 1.4;
    transition: color 0.2s ease;
}

.search_pc_button {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    background-color: #6366F1;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 30px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.search_pc_button:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}


.start_button {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    background-color: #1D4ED8;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.start_button:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}

.result_text_field#hidden {
    display: none;
}

.result_text_field#visible {
    width: 600px;
    height: 200px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 30px;
    background-color: #FEFFFF;
    padding: 20px;
    font-size: 16px;
    overflow-y: auto;
}

.file-name {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

.file-input {
    display: none;
}